* {
    margin: 0;
    padding: 0;
    @include main-font;
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    background: $extendeal-wario;

    > #root {
        min-height: 100%;
        width: 100%;

        > div {
            min-height: 100%;
            width: 100%;
        }
    }

    .wrapper {
        padding-bottom: 20px;
    }

    .content {
        padding-top: 90px;
    }
    
}