.counter {
    background: $white;
    border-radius: 15px;
    height: 90px;
    margin-top: -5px;
    position: absolute;
    right: 20px;
    text-align: center;
    width: 30px;
    @include shadow2;

    input {
        background: none;
        border: none;
        font-size: 13px;
        height: 30px;
        text-align: center;
        width: 30px;
        @include main-font;
    }

    .buttons {
        &.disabled {
            color: $extendeal-lois;
        }

        color: $extendeal-mario;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }
}

@media (min-width: 768px) {
    .counter {
        height: 80px;
        width: 25px;
        
        input {
            font-size: 11px;
            width: 25px;
        }
    
        .buttons {
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            width: 25px;
        }
    }

}