
.employee {
    background-position: 0 0;
    background-size: 150px 300px;
    border-radius: 50%;
    height: 150px;
    margin: 5px;
    width: 150px;
    @include shadow2;

    &:hover {
        background-position: 0 150px;
    }
}