
.employee {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 5px;
    width: 150px;
    @include shadow2;

    &:hover {
        background-position: 0 0;
    }
}

@media (min-width: 768px) {
    .employee {
        background-position: center;
        background-size: cover;
        height: 125px;
        width: 125px;
    }
}