#login {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
        margin: 20px 0;
        text-align: center;
        width: 100%;
        @include main-font;
    }
}