#login {
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;

    &.departments {
        align-items: center;
        display: flex;
    }

    h2 {
        margin: 20px 0;
        text-align: center;
        width: 100%;
        @include main-font;
    }

    .department {
        align-items: center;
        background: $extendeal-mario;
        display: flex;
        font-size: 20px;
        height: 30%;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;
        @include bold;
    }

    .employees {
        display: block;
        text-align: center;
        width: 100%;
    }

    i {
        bottom: 10px;
        height: 20px;
        left: 15px;
        position: fixed;
        width: 20px;
    }
}