.menu {
    background: $extendeal-mario;
    height: calc(100% - 70px);
    overflow: hidden;
    position: fixed;
    top: 70px;
    z-index: 20;

    &.closed {
        transition: 0.5s;
        width: 0;
    }

    &.opened {
        transition: 0.5s;
        width: 250px;
    }

    ul {
        height: 50%;
        
        &.bottom-menu {
            align-items: flex-end;
            display: flex;
            flex-wrap: wrap;
        }

        a {
            color: $white;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
            width: 100%;
            word-break: break-all;
            @include bold;
        }
    }
}