.product {
  background: $white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  margin: 5% 10%;
  min-height: 100px;
  padding: 15px;
  width: 80%;
  @include shadow2;

  > img {
    border-radius: 35px;
    height: 70px;
    margin-left: -40px;
    margin-top: 5px;
    position: absolute;
    width: 70px;
    @include shadow2;
  }

  h2 {
    align-self: center;
    font-size: 18px;
    line-height: 20px;
    margin-left: 45px;
    max-height: 40px;
    overflow: hidden;
    width: calc(100% - 45px);
    @include main-font;
    @include semibold;
  }

  p {
    @include main-font;
    @include semibold;

    &.unit {
      color: $extendeal-lois;
      font-size: 15px;
      margin-left: 45px;
      width: calc((100% - 45px) / 2);  
    }

    &.price {
      color: $extendeal-mario;
      font-size: 16px;
      padding-right: 10px;
      text-align: right;
      width: calc((100% - 45px) / 2);  
    }
  }

  i.button {
    background: $white;
    border-radius: 15px;
    color: $extendeal-mario;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    text-align: center;
    transition: 1s;
    width: 30px;
    @include shadow2;
  }
}

@media (min-width: 768px) {
  .product {
    height: 90px;

    > img {
      height: 60px;
      margin-top: 5px;
      width: 60px;
    }

    h2 {
      font-size: 16px;
      margin-left: 30px;
    }

    p {
      &.unit {
        font-size: 12px;
        margin-left: 30px;
        width: calc((100% - 30px) / 2);  
      }
  
      &.price {
        font-size: 14px;
        padding-right: 10px;
        text-align: right;
        width: calc((100% - 30px) / 2);  
      }
    }
  }
}