#products {
    .content {
        h1 {
            padding-left: 40px;
        }
    }
}

@media (min-width: 768px) {
    #products {
        .content {
            h1 {
                font-size: 20px;
                padding-left: 30px;
            }
        }
    }
}